VITE_BACKEND_BASE_URL=https://cameron-hereditary-suppositively.ngrok-free.dev
VITE_API_BASE_URL=https://cameron-hereditary-suppositively.ngrok-free.dev
VITE_WS_INTERVIEW_PATH=/api/ws-interview
VITE_USE_SOCKJS_TRANSPORT=true
VITE_MEDIAPIPE_WASM_URL=https://cdn.jsdelivr.net/npm/@mediapipe/tasks-vision@0.10.35/wasm
VITE_FACE_LANDMARKER_MODEL_URL=https://storage.googleapis.com/mediapipe-models/face_landmarker/face_landmarker/float16/latest/face_landmarker.task
