@import url('https://fonts.googleapis.com/css2?family=Pretendard:wght@400;500;600;700;800&display=swap');

body {
  font-family: 'Pretendard', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar,
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
